In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import datetime

In [3]:
df = pd.read_excel(r"2022 04 01 ASEM Pl and WB and %intact parent.xlsx", sheet_name= 'Sheet1')

In [4]:
df_curve= pd.read_excel('PlasmaCount/040122ASEMcurve_new.xlsx')

In [5]:
df_curve.head()

,PROG,4,USER,4.1,Unnamed: 4,PCIF GC A,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,2022-04-01 00:00:00,NaN,NaN
1,CNT,CH 12,1,TIMES,NaN,13:04:00,NaN,NaN
2,CSS,NaN,1,TIMES,NaN,NaN,NaN,NaN
3,E R,NaN,2,NaN,NaN,F-ASEM,NaN,NaN
4,ELV,NaN,1,NaN,NaN,blood curve,NaN,NaN

In [6]:
df_timing = pd.read_excel('Sample_timing_sheet_0401.xlsx')

In [7]:
df_timing

,Tracer:,F18 - AZEM,Unnamed: 2,Date:,2022-04-01 00:00:00,Unnamed: 5,Unnamed: 6
0,Subject ID:,Ring,NaN,Subject wt (kg),NaN,NaN,NaN
1,Dose (mCi):,6.37-.36=6.01,NaN,Start Inj (clock):,12:28:05,NaN,NaN
2,Volume injected (mL):,3.7,NaN,Finish inj (clock):,14:18:05,NaN,NaN
3,Sample,Timepoint,Clock Time start,Clock Time stop,Whole Blood,Plasma,Notes
4,1,00:00:06,12:28:00,12:28:04,10,126,NaN
5,2,00:00:12,12:28:06,12:28:09,7,125,NaN
6,3,00:00:18,12:28:12,12:28:15,86,124,NaN
7,4,00:00:24,12:28:18,12:28:23,80,123,NaN
8,5,00:00:30,12:28:30,12:28:40,74,122,NaN
9,6,00:00:36,13:28:43,12:28:45,69,121,NaN
10,7,00:00:42,12:28:47,12:28:51,298,120,NaN
11,8,00:00:48,12:28:53,12:28:55,289,119,NaN
12,9,00:00:54,12:28:58,12:28:59,286,118,NaN
13,10,00:01:00,12:29:02,12:29:07,283,117,NaN
14,spare1,XX,NaN,NaN,NaN,NaN,NaN
15,spare2,XX,NaN,NaN,NaN,NaN,NaN
16,11,00:01:10,12:29:08,12:29:15,280,116,NaN
17,12,00:01:20,12:29:20,12:29:28,278,115,NaN
18,13,00:01:30,12:29:30,12:29:34,276,114,NaN
19,14,00:01:40,12:29:40,12:29:45,274,113,NaN
20,15,00:01:50,12:29:50,12:29:59,272,112,NaN
21,16,00:02:00,12:30:00,12:30:10,270,111,NaN
22,17,00:03:00,12:31:01,12:31:04,268,110,NaN
23,18,00:04:00,12:31:59,12:32:03,266,109,NaN
24,5mHPLC,00:05:00,12:33:01,12:33:07,NaN,NaN,NaN
25,19,00:05:00,12:33:15,12:33:17,269,108,NaN
26,10mHPLC,00:05:00,12:37:53,12:38:00,NaN,NaN,NaN
27,20,00:10:00,12:38:04,12:38:07,263,107,NaN
28,21,00:15:00,12:41:59,12:43:00,262,106,NaN
29,20mHPLC,00:20:00,12:47:59,12:48:01,NaN,NaN,NaN
30,22,00:20:00,12:48:04,12:48:09,261,105,NaN
31,23,00:25:00,12:52:58,12:53:02,260,104,NaN
32,30mHPLC,00:30:00,12:57:57,12:58:01,NaN,NaN,NaN
33,24,00:30:00,12:58:05,12:58:07,259,103,NaN
34,25,00:35:00,13:03:09,13:03:12,22,102,NaN
35,26,00:40:00,13:07:59,13:08:01,21,101,NaN
36,27,00:45:00,13:13:07,13:13:13,20,100,NaN
37,28,01:00:00,13:28:01,13:28:04,52,99,NaN
38,60mHPLC,01:00:00,13:28:07,13:28:10,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Page 2 of 2 Tracer:,NaN,Date:,NaN,NaN,NaN,NaN
41,Subject ID:,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Sample,Timepoint,Elapsed Time (draw),NaN,Notes/Vitals,Notes/Vitals,NaN
45,29,01:15:00,13:42:51,13:42:53,53,98,the sample was hemolyzed.
46,90mHPLC,01:30:00,13:57:59,13:58:01,NaN,NaN,NaN
47,30,01:30:00,13:58:03,13:58:01,63,97,NaN
48,31,02:00:00,14:18:03,14:18:05,90,96,NaN
49,NaN,maybe more:,NaN,NaN,NaN,NaN,NaN
50,NaN,end of session 2,NaN,NaN,NaN,NaN,NaN
51,NaN,end of session 3,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Comments/Notes:,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_timing = df_timing.dropna(axis=0, how ='all')

In [9]:
df_timing

,Tracer:,F18 - AZEM,Unnamed: 2,Date:,2022-04-01 00:00:00,Unnamed: 5,Unnamed: 6
0,Subject ID:,Ring,NaN,Subject wt (kg),NaN,NaN,NaN
1,Dose (mCi):,6.37-.36=6.01,NaN,Start Inj (clock):,12:28:05,NaN,NaN
2,Volume injected (mL):,3.7,NaN,Finish inj (clock):,14:18:05,NaN,NaN
3,Sample,Timepoint,Clock Time start,Clock Time stop,Whole Blood,Plasma,Notes
4,1,00:00:06,12:28:00,12:28:04,10,126,NaN
5,2,00:00:12,12:28:06,12:28:09,7,125,NaN
6,3,00:00:18,12:28:12,12:28:15,86,124,NaN
7,4,00:00:24,12:28:18,12:28:23,80,123,NaN
8,5,00:00:30,12:28:30,12:28:40,74,122,NaN
9,6,00:00:36,13:28:43,12:28:45,69,121,NaN
10,7,00:00:42,12:28:47,12:28:51,298,120,NaN
11,8,00:00:48,12:28:53,12:28:55,289,119,NaN
12,9,00:00:54,12:28:58,12:28:59,286,118,NaN
13,10,00:01:00,12:29:02,12:29:07,283,117,NaN
14,spare1,XX,NaN,NaN,NaN,NaN,NaN
15,spare2,XX,NaN,NaN,NaN,NaN,NaN
16,11,00:01:10,12:29:08,12:29:15,280,116,NaN
17,12,00:01:20,12:29:20,12:29:28,278,115,NaN
18,13,00:01:30,12:29:30,12:29:34,276,114,NaN
19,14,00:01:40,12:29:40,12:29:45,274,113,NaN
20,15,00:01:50,12:29:50,12:29:59,272,112,NaN
21,16,00:02:00,12:30:00,12:30:10,270,111,NaN
22,17,00:03:00,12:31:01,12:31:04,268,110,NaN
23,18,00:04:00,12:31:59,12:32:03,266,109,NaN
24,5mHPLC,00:05:00,12:33:01,12:33:07,NaN,NaN,NaN
25,19,00:05:00,12:33:15,12:33:17,269,108,NaN
26,10mHPLC,00:05:00,12:37:53,12:38:00,NaN,NaN,NaN
27,20,00:10:00,12:38:04,12:38:07,263,107,NaN
28,21,00:15:00,12:41:59,12:43:00,262,106,NaN
29,20mHPLC,00:20:00,12:47:59,12:48:01,NaN,NaN,NaN
30,22,00:20:00,12:48:04,12:48:09,261,105,NaN
31,23,00:25:00,12:52:58,12:53:02,260,104,NaN
32,30mHPLC,00:30:00,12:57:57,12:58:01,NaN,NaN,NaN
33,24,00:30:00,12:58:05,12:58:07,259,103,NaN
34,25,00:35:00,13:03:09,13:03:12,22,102,NaN
35,26,00:40:00,13:07:59,13:08:01,21,101,NaN
36,27,00:45:00,13:13:07,13:13:13,20,100,NaN
37,28,01:00:00,13:28:01,13:28:04,52,99,NaN
38,60mHPLC,01:00:00,13:28:07,13:28:10,NaN,NaN,NaN
40,Page 2 of 2 Tracer:,NaN,Date:,NaN,NaN,NaN,NaN
41,Subject ID:,NaN,NaN,NaN,NaN,NaN,NaN
44,Sample,Timepoint,Elapsed Time (draw),NaN,Notes/Vitals,Notes/Vitals,NaN
45,29,01:15:00,13:42:51,13:42:53,53,98,the sample was hemolyzed.
46,90mHPLC,01:30:00,13:57:59,13:58:01,NaN,NaN,NaN
47,30,01:30:00,13:58:03,13:58:01,63,97,NaN
48,31,02:00:00,14:18:03,14:18:05,90,96,NaN
49,NaN,maybe more:,NaN,NaN,NaN,NaN,NaN
50,NaN,end of session 2,NaN,NaN,NaN,NaN,NaN
51,NaN,end of session 3,NaN,NaN,NaN,NaN,NaN
53,Comments/Notes:,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_nan_trial  = df_timing[df_timing.isnull().sum(axis=1) <4]

In [11]:
date = datetime.date(2022,4,1)

In [12]:
df_nan_trial

,Tracer:,F18 - AZEM,Unnamed: 2,Date:,2022-04-01 00:00:00,Unnamed: 5,Unnamed: 6
1,Dose (mCi):,6.37-.36=6.01,NaN,Start Inj (clock):,12:28:05,NaN,NaN
2,Volume injected (mL):,3.7,NaN,Finish inj (clock):,14:18:05,NaN,NaN
3,Sample,Timepoint,Clock Time start,Clock Time stop,Whole Blood,Plasma,Notes
4,1,00:00:06,12:28:00,12:28:04,10,126,NaN
5,2,00:00:12,12:28:06,12:28:09,7,125,NaN
6,3,00:00:18,12:28:12,12:28:15,86,124,NaN
7,4,00:00:24,12:28:18,12:28:23,80,123,NaN
8,5,00:00:30,12:28:30,12:28:40,74,122,NaN
9,6,00:00:36,13:28:43,12:28:45,69,121,NaN
10,7,00:00:42,12:28:47,12:28:51,298,120,NaN
11,8,00:00:48,12:28:53,12:28:55,289,119,NaN
12,9,00:00:54,12:28:58,12:28:59,286,118,NaN
13,10,00:01:00,12:29:02,12:29:07,283,117,NaN
16,11,00:01:10,12:29:08,12:29:15,280,116,NaN
17,12,00:01:20,12:29:20,12:29:28,278,115,NaN
18,13,00:01:30,12:29:30,12:29:34,276,114,NaN
19,14,00:01:40,12:29:40,12:29:45,274,113,NaN
20,15,00:01:50,12:29:50,12:29:59,272,112,NaN
21,16,00:02:00,12:30:00,12:30:10,270,111,NaN
22,17,00:03:00,12:31:01,12:31:04,268,110,NaN
23,18,00:04:00,12:31:59,12:32:03,266,109,NaN
24,5mHPLC,00:05:00,12:33:01,12:33:07,NaN,NaN,NaN
25,19,00:05:00,12:33:15,12:33:17,269,108,NaN
26,10mHPLC,00:05:00,12:37:53,12:38:00,NaN,NaN,NaN
27,20,00:10:00,12:38:04,12:38:07,263,107,NaN
28,21,00:15:00,12:41:59,12:43:00,262,106,NaN
29,20mHPLC,00:20:00,12:47:59,12:48:01,NaN,NaN,NaN
30,22,00:20:00,12:48:04,12:48:09,261,105,NaN
31,23,00:25:00,12:52:58,12:53:02,260,104,NaN
32,30mHPLC,00:30:00,12:57:57,12:58:01,NaN,NaN,NaN
33,24,00:30:00,12:58:05,12:58:07,259,103,NaN
34,25,00:35:00,13:03:09,13:03:12,22,102,NaN
35,26,00:40:00,13:07:59,13:08:01,21,101,NaN
36,27,00:45:00,13:13:07,13:13:13,20,100,NaN
37,28,01:00:00,13:28:01,13:28:04,52,99,NaN
38,60mHPLC,01:00:00,13:28:07,13:28:10,NaN,NaN,NaN
44,Sample,Timepoint,Elapsed Time (draw),NaN,Notes/Vitals,Notes/Vitals,NaN
45,29,01:15:00,13:42:51,13:42:53,53,98,the sample was hemolyzed.
46,90mHPLC,01:30:00,13:57:59,13:58:01,NaN,NaN,NaN
47,30,01:30:00,13:58:03,13:58:01,63,97,NaN
48,31,02:00:00,14:18:03,14:18:05,90,96,NaN

In [13]:
df_nan_trial.columns

Index([    '     Tracer: ',        'F18 - AZEM',        'Unnamed: 2',
                   'Date:', 2022-04-01 00:00:00,        'Unnamed: 5',
              'Unnamed: 6'],
      dtype='object')

In [14]:
df_nan_trial.shape

(41, 7)

In [15]:
array_trial = np.array(df_nan_trial)

In [16]:
for row in range(1,array_trial.shape[0]):
    for columns_number in range(1,array_trial.shape[1]):
        if array_trial[row,columns_number] == r"Finish inj (clock):": 
            finish_time = array_trial[row,columns_number+1]

In [17]:
finish_time

datetime.time(14, 18, 5)

In [18]:
for row in range(0,array_trial.shape[0]):
    for columns_number in range(0,array_trial.shape[1]):
        if array_trial[row,columns_number] == r"Start Inj (clock):": 
            start_time = array_trial[row,columns_number+1]

In [19]:
for row in range(0,array_trial.shape[0]):
    for columns_number in range(0,array_trial.shape[1]):
        if array_trial[row,columns_number] == r"Whole Blood" :
            new_array = array_trial[row:]

In [20]:
dataframe_timepoint = pd.DataFrame(new_array)

In [21]:
dataframe_timepoint.rename(columns= dataframe_timepoint.iloc[0]).drop(dataframe_timepoint.index[0])

,Sample,Timepoint,Clock Time start,Clock Time stop,Whole Blood,Plasma,Notes
1,1,00:00:06,12:28:00,12:28:04,10,126,NaN
2,2,00:00:12,12:28:06,12:28:09,7,125,NaN
3,3,00:00:18,12:28:12,12:28:15,86,124,NaN
4,4,00:00:24,12:28:18,12:28:23,80,123,NaN
5,5,00:00:30,12:28:30,12:28:40,74,122,NaN
6,6,00:00:36,13:28:43,12:28:45,69,121,NaN
7,7,00:00:42,12:28:47,12:28:51,298,120,NaN
8,8,00:00:48,12:28:53,12:28:55,289,119,NaN
9,9,00:00:54,12:28:58,12:28:59,286,118,NaN
10,10,00:01:00,12:29:02,12:29:07,283,117,NaN
11,11,00:01:10,12:29:08,12:29:15,280,116,NaN
12,12,00:01:20,12:29:20,12:29:28,278,115,NaN
13,13,00:01:30,12:29:30,12:29:34,276,114,NaN
14,14,00:01:40,12:29:40,12:29:45,274,113,NaN
15,15,00:01:50,12:29:50,12:29:59,272,112,NaN
16,16,00:02:00,12:30:00,12:30:10,270,111,NaN
17,17,00:03:00,12:31:01,12:31:04,268,110,NaN
18,18,00:04:00,12:31:59,12:32:03,266,109,NaN
19,5mHPLC,00:05:00,12:33:01,12:33:07,NaN,NaN,NaN
20,19,00:05:00,12:33:15,12:33:17,269,108,NaN
21,10mHPLC,00:05:00,12:37:53,12:38:00,NaN,NaN,NaN
22,20,00:10:00,12:38:04,12:38:07,263,107,NaN
23,21,00:15:00,12:41:59,12:43:00,262,106,NaN
24,20mHPLC,00:20:00,12:47:59,12:48:01,NaN,NaN,NaN
25,22,00:20:00,12:48:04,12:48:09,261,105,NaN
26,23,00:25:00,12:52:58,12:53:02,260,104,NaN
27,30mHPLC,00:30:00,12:57:57,12:58:01,NaN,NaN,NaN
28,24,00:30:00,12:58:05,12:58:07,259,103,NaN
29,25,00:35:00,13:03:09,13:03:12,22,102,NaN
30,26,00:40:00,13:07:59,13:08:01,21,101,NaN
31,27,00:45:00,13:13:07,13:13:13,20,100,NaN
32,28,01:00:00,13:28:01,13:28:04,52,99,NaN
33,60mHPLC,01:00:00,13:28:07,13:28:10,NaN,NaN,NaN
34,Sample,Timepoint,Elapsed Time (draw),NaN,Notes/Vitals,Notes/Vitals,NaN
35,29,01:15:00,13:42:51,13:42:53,53,98,the sample was hemolyzed.
36,90mHPLC,01:30:00,13:57:59,13:58:01,NaN,NaN,NaN
37,30,01:30:00,13:58:03,13:58:01,63,97,NaN
38,31,02:00:00,14:18:03,14:18:05,90,96,NaN

In [22]:
for row in range(0,new_array.shape[0]):
    for columns_number in range(0,new_array.shape[1]):
        if new_array[row,columns_number] == r"Elapsed Time (draw)":
            new_array_1 = np.delete(new_array,row, axis =0)

In [23]:
dataframe_new= pd.DataFrame(new_array_1)

In [24]:
dataframe_new = dataframe_new.rename(columns=dataframe_new.iloc[0]).drop(dataframe_new.index[0])

In [25]:
dataframe_new_trial = dataframe_new[dataframe_new[r'Sample'].str.contains('HPLC') == False]

In [26]:
dataframe_new_trial =dataframe_new[dataframe_new[r'Sample'].str.contains('HPLC') != True]

In [27]:
from pandas import ExcelWriter

In [30]:
dataframe_new_trial.to_excel("TimeSheet.xlsx")

In [32]:
df_curve

,PROG,4,USER,4.1,Unnamed: 4,PCIF GC A,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,2022-04-01 00:00:00,NaN,NaN
1,CNT,CH 12,1,TIMES,NaN,13:04:00,NaN,NaN
2,CSS,NaN,1,TIMES,NaN,NaN,NaN,NaN
3,E R,NaN,2,NaN,NaN,F-ASEM,NaN,NaN
4,ELV,NaN,1,NaN,NaN,blood curve,NaN,NaN
...,...,...,...,...,...,...,...,...
401,NaN,2,29779,NaN,NaN,NaN,NaN,NaN
402,208,1,235867,0.12,185.07,,NaN,NaN
403,NaN,2,83992,NaN,NaN,NaN,NaN,NaN
404,209,1,52849,0.57,185.87,,NaN,NaN
405,NaN,2,17784,NaN,NaN,NaN,NaN,NaN

In [33]:
array_curve = np.array(df_curve)

In [34]:
for row in range(0,array_curve.shape[0]):
    for columns_number in range(0,array_curve.shape[1]):
        if array_curve[row,columns_number] == r"BARCODE  ":
            new_array_curve = array_curve[row:]

In [89]:
for row in range(0,array_curve.shape[0]):
    for columns_number in range(0,array_curve.shape[1]):
        if array_curve[row,columns_number] == r"BARCODE  ":
            new_array_curve_wo_Pos = array_curve[:row]

In [210]:
DataFrame_Curve = pd.DataFrame(new_array_curve)

In [243]:
DataFrame_Curve

       0   1       2     3       4          5    6
0    POS  CH     CPM  TIME  ELTIME  BARCODE    NaN
1    259   1   55039  0.51    1.12      WB 24  NaN
2    NaN   2   19673   NaN     NaN        NaN  NaN
3    260   1   58494  0.48    1.83      WB 23  NaN
4    NaN   2   20840   NaN     NaN        NaN  NaN
..   ...  ..     ...   ...     ...        ...  ...
374  NaN   2   29779   NaN     NaN        NaN  NaN
375  208   1  235867  0.12  185.07             NaN
376  NaN   2   83992   NaN     NaN        NaN  NaN
377  209   1   52849  0.57  185.87             NaN
378  NaN   2   17784   NaN     NaN        NaN  NaN

[379 rows x 7 columns]

In [244]:
DataFrame_Curve= DataFrame_Curve.rename(columns=DataFrame_Curve.iloc[0]).drop(DataFrame_Curve.index[0])

In [212]:
DataFrame_Curve= DataFrame_Curve.iloc[:,:-1]

In [246]:
DataFrame_Curve.to_csv("Gamma Counter.csv")

In [171]:
DataFrame_Curve =DataFrame_Curve.set_axis([*DataFrame_Curve.columns[:-1], 'recount?'], axis=1, inplace=False)

In [213]:
Array_GammaCounter = np.array(DataFrame_Curve)

In [214]:
Array_GammaCounter

array([['POS', 'CH', 'CPM', ..., 'ELTIME', 'BARCODE  ', nan],
       [259, 1, 55039, ..., 1.12, 'WB 24', nan],
       [nan, 2, 19673, ..., nan, nan, nan],
       ...,
       [nan, 2, 83992, ..., nan, nan, nan],
       [209, 1, 52849, ..., 185.87, ' ', nan],
       [nan, 2, 17784, ..., nan, nan, nan]], dtype=object)

In [215]:
Array_GammaCounter.shape

(387, 7)

In [208]:
Array_GammaCounter[row,columns_number-5]

2

In [224]:
for row in range(0,Array_GammaCounter.shape[0]):
    for columns_number in range(0,Array_GammaCounter.shape[1]):
        if Array_GammaCounter[row,columns_number] == r"rct": 
            if Array_GammaCounter[row,columns_number-5] == 1 and Array_GammaCounter[row+1,columns_number-5] == 2:
                Array_GammaCounter = np.delete(Array_GammaCounter, [row,row+1], axis=0)

In [239]:
DataFrame_Curve = pd.DataFrame(Array_GammaCounter)

In [300]:
DataFrame_Curve

     POS CH     CPM  TIME  ELTIME BARCODE    NaN
1    259  1   55039  0.51    1.12     WB 24  NaN
2    NaN  2   19673   NaN     NaN       NaN  NaN
3    260  1   58494  0.48    1.83     WB 23  NaN
4    NaN  2   20840   NaN     NaN       NaN  NaN
5    261  1   63974  0.46    2.52     WB 22  NaN
..   ... ..     ...   ...     ...       ...  ...
374  NaN  2   29779   NaN     NaN       NaN  NaN
375  208  1  235867  0.12  185.07            NaN
376  NaN  2   83992   NaN     NaN       NaN  NaN
377  209  1   52849  0.57  185.87            NaN
378  NaN  2   17784   NaN     NaN       NaN  NaN

[378 rows x 7 columns]

In [298]:
GammaCounterSheet = pd.read_csv('Gamma Counter.csv')

In [299]:
GammaCounterSheet= GammaCounterSheet.iloc[0:,1:-1]

In [282]:
for i in range(0,len(GammaCounterSheet)):
    if GammaCounterSheet[i]['CH'] ==1 :
        print('a')

KeyError: 0

In [324]:
(GammaCounterSheet['CPM'][1]+GammaCounterSheet['CPM'][0])

74712

In [378]:
Array_GammaCounterSheet = np.array('GammaCounterSheet')
range(0, len(GammaCounterSheet))

range(0, 378)

In [381]:
GammaCounterSheet

       POS  CH     CPM  TIME  ELTIME BARCODE
0    259.0   1   55039  0.51    1.12     WB 24
1      NaN   2   19673   NaN     NaN       NaN
2    260.0   1   58494  0.48    1.83     WB 23
3      NaN   2   20840   NaN     NaN       NaN
4    261.0   1   63974  0.46    2.52     WB 22
..     ...  ..     ...   ...     ...       ...
373    NaN   2   29779   NaN     NaN       NaN
374  208.0   1  235867  0.12  185.07
375    NaN   2   83992   NaN     NaN       NaN
376  209.0   1   52849  0.57  185.87
377    NaN   2   17784   NaN     NaN       NaN

[378 rows x 6 columns]

In [386]:
Channel = []
Activity= []
count = 0
for row in range(0, len(GammaCounterSheet)):
    if GammaCounterSheet['CH'][row]==1 and GammaCounterSheet['CH'][row+1]==2:
        if ((GammaCounterSheet['CPM'][row] + GammaCounterSheet['CPM'][row+1]) > 100) and ((GammaCounterSheet['CPM'][row+4] + GammaCounterSheet['CPM'][row+5]) > 100) and row +5 <383 :
               count = count +1
        #print(GammaCounterSheet['CPM'][row] + GammaCounterSheet['CPM'][row+1])
               print(row)
               print(GammaCounterSheet['CPM'][row])
               print(GammaCounterSheet['POS'][row])
        #print(GammaCounterSheet['CPM'][i] + GammaCounterSheet['CPM'][i+1])

0
55039
259.0
2
58494
260.0
4
63974
261.0
6
70215
262.0
8
91456
263.0
10
128486
264.0
12
149242
266.0
14
177275
268.0
16
236700
270.0
18
245358
272.0
20
274336
274.0
22
317633
276.0
24
382050
278.0
26
459643
280.0
28
502550
283.0
30
564500
286.0
32
675625
289.0
34
860667
292.0
58
48229
20.0
92
120
38.0
102
339
43.0
106
359
45.0
110
1440750
48.0
144
95
68.0
154
95
73.0
166
115
79.0
188
11365
96.0
190
11487
97.0
192
11272
98.0
194
11182
99.0
196
10321
100.0
198
9160
101.0
200
8944
102.0
202
9037
103.0
204
8723
104.0
206
8924
105.0
208
9054
106.0
210
11407
107.0
212
15542
108.0
214
18398
109.0
216
23178
110.0
218
31766
111.0
220
31652
112.0
222
37121
113.0
224
40313
114.0
226
50205
115.0
228
57282
116.0
230
66802
117.0
232
78314
118.0
234
91694
119.0
236
125574
120.0
238
189333
122.0
240
290430
124.0
242
385800
126.0
278
299
147.0
282
77238
151.0
304
253185
170.0
322
88748
182.0
332
8491
187.0
336
290400
189.0
340
8171
191.0
344
281230
193.0
348
7636
195.0
352
263818
197.0
356
7455
199.0
360
251545
201.0
364
102483
203.0
368
44940
205.0
372
96865
207.0

KeyError: 378

In [45]:
background = 2*np.average(DataFrame_Curve[DataFrame_Curve['CPM']< 40]['CPM'].values)

In [46]:
background

37.96319018404908

In [47]:
new_df_curve_wo_Pos = pd.DataFrame(new_array_curve_wo_Pos)

In [49]:
new_df_curve_wo_Pos[1:6]

      0      1  2      3    4            5    6    7
1   CNT  CH 12  1  TIMES  NaN     13:04:00  NaN  NaN
2   CSS    NaN  1  TIMES  NaN          NaN  NaN  NaN
3   E R    NaN  2    NaN  NaN       F-ASEM  NaN  NaN
4   ELV    NaN  1    NaN  NaN  blood curve  NaN  NaN
5  CALC    NaN  1    NaN  NaN      WB 24-1  NaN  NaN

In [146]:
for row in range(0,new_array_curve_wo_Pos.shape[0]):
    for columns_number in range(0,new_array_curve_wo_Pos.shape[1]):
        if isinstance(new_array_curve_wo_Pos[row,columns_number], datetime.time): 
            gamma_time = new_array_curve_wo_Pos[row,columns_number]

In [147]:
gamma_time

datetime.time(13, 4)

In [158]:
datetime1 = datetime.datetime.combine(date, gamma_time)
datetime2 = datetime.datetime.combine(date, start_time)

In [159]:
time_elapsed = datetime1 - datetime2

In [202]:
minutes_elapsed = time_elapsed.seconds /60

In [168]:
DataFrame_Curve

     POS CH     CPM  TIME  ELTIME BARCODE   recount?
1    259  1   55039  0.51    1.12     WB 24      NaN
2    NaN  2   19673   NaN     NaN       NaN      NaN
3    260  1   58494  0.48    1.83     WB 23      NaN
4    NaN  2   20840   NaN     NaN       NaN      NaN
5    261  1   63974  0.46    2.52     WB 22      NaN
..   ... ..     ...   ...     ...       ...      ...
382  NaN  2   29779   NaN     NaN       NaN      NaN
383  208  1  235867  0.12  185.07                NaN
384  NaN  2   83992   NaN     NaN       NaN      NaN
385  209  1   52849  0.57  185.87                NaN
386  NaN  2   17784   NaN     NaN       NaN      NaN

[386 rows x 7 columns]

In [181]:
for row in range(1,new_array_curve.shape[0]):
    for columns_number in range(1,new_array_curve.shape[1]):
        if new_array_curve[row,columns_number] == r"old std": 
            old_standard = new_array_curve[row,columns_number-3] + new_array_curve[row+1,columns_number-3]-background

In [182]:
old_standard

14160.03680981595

In [183]:
for row in range(1,new_array_curve.shape[0]):
    for columns_number in range(1,new_array_curve.shape[1]):
        if new_array_curve[row,columns_number] == r"NIST std": 
            new_standard = new_array_curve[row,columns_number-3] + new_array_curve[row+1,columns_number-3]-background

In [184]:
new_standard

52535.03680981595

In [204]:
old_std_date = datetime.date(2020,3,13)
old_std_activity = 0.141

In [203]:
new_std_date = datetime.date(2021,11,10)
new_std_activity = 0.11

In [198]:
old_std_time_elapsed = date - old_std_date

In [195]:
new_std_time_elapsed = date - new_std_date

In [216]:
old_std_time_elapsed = old_std_time_elapsed.days

In [217]:
new_std_time_elapsed = new_std_time_elapsed.days

In [226]:
old_activity_left = (old_std_activity)*(2**(-(old_std_time_elapsed)/271))

In [228]:
new_activity_left = (new_std_activity)*(2**(-(new_std_time_elapsed)/271))

In [230]:
new_activity_left

0.07649929110082711

In [233]:
act_per_act_left_old = old_standard/old_activity_left
act_per_act_left_new = new_standard/new_activity_left

In [236]:
print(act_per_act_left_old)
print(act_per_act_left_new)

682092.5435519308
686738.8710906361

In [238]:
avg_act_per_act_left = (act_per_act_left_new+act_per_act_left_old)/2
avg_act_per_act_left

684415.7073212834